@media screen and (min-width:700px) {
    button,
    nav#slide {
        visibility: hidden;
    }
    header .titlecontent {
        flex-direction: column;
    }
}
  
@media screen and (max-width:700px) {
    
    nav#slide {
        width: 100vw;
        height: 60vh;
    }
    
    nav#slide.disable {
        opacity: 0;
        transform: translateY(-100%);
        transition: all .5s ease-in-out;
    }
    
    nav#slide.enable {
        opacity: 1;
        transform: translateY(0);
        transition: all .5s ease-in-out;
    }
    
    button,
    nav#slide {
        visibility: visible;
    }
  
    nav.menu {
        visibility: hidden;
    }
  
}