@import url("ui/root.css");
@import url("ui/navbar.css");

main {
    max-height: max-content;
    min-height: 90vh;
    width: 100%;
    background-image: url("../resources/images/header.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#about h1 {
    margin: 10px;
    text-align: center;
    font-size: max(30px, 6vmin);
}

.container-image {
    border-radius: 50%;
    background-color: #111111;
    float: left;
    margin: 5px;
    shape-outside: margin-box;
    width: min(50vmin, 460px);
    height: min(50vmin, 460px);
    overflow: hidden;
    position: relative;
}

.container-image img {
    image-rendering: pixelated;
    object-fit: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    border-radius: 50%;
}

.container-image .reveal {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-decoration: none;
    background-color: #000000a0;
    backdrop-filter: blur(5px);
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.container-image:hover .reveal {
    z-index: 3;
    transition: all 0s ease-in-out;
}

#about p {
    text-align: justify;
    margin: 10px;
    line-height: 1.5;
}

.separator {
    background-image: url("../resources/images/separator.gif");
    box-shadow: 3px 3px #085399;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    height: 10vmin;
    width: 90%;
    margin: 5%;
    border-radius: 10px;
}

section h2 {
    font-size: max(7vmin, 25px);
}

section h2::before,
section h2::after {
    content: attr(emoji);
    font-size: max(6vmin, 20px);
    text-decoration: none;
}

section .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    cursor: pointer;
    margin: 10px;
    width: 100%;
    flex: 1;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer * {
    font-size: 3vmin;
}