@import url("ui/root.css");
@import url("ui/navbar.css");

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    min-height: 100vh;
}

main {
    max-height: max-content;
    min-height: 60vh;
    width: 100%;
    background-image: url("../resources/images/header.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    width: max(60%, 90vmin);
    display: flex;
    flex-direction: column;
}

h1 {
    cursor: pointer;
    text-align: center;
    text-wrap: wrap;
    font-size: 7vh;
    background-image: linear-gradient(#7e7e7e, var(--black-text));
    background-clip: text;
    color: transparent;
}

.to {
    text-decoration: none;
    animation: floating .25s alternate infinite;
}

.button {
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: max-content;
    align-self: center;
    border-radius: 10px;
    border: 1px solid var(--black-text);
    background-color: var(--background);
    color: var(--black-text);
    outline: none;
    text-decoration: none;
}

.button:hover {
    background-color: var(--black-text);
    color: var(--background);
    transition: .25s all ease-in-out;
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: max(7vmin, 30px);
}

h2::before,
h2::after {
    content: attr(emoji);
    padding: 5px;
    font-size: max(5vmin, 10px);
    text-decoration: none;
}

section span,
section a {
    text-align: center;
    margin: 5px;
    word-wrap: normal;
    font-size: var(--default-font-size);
}

#langs {
    justify-self: center;
    align-self: center;
    width: 95%;
    padding: 20px;
    pointer-events: none;
}

hr {
    width: 90%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span, footer a {
    font-size: 3vmin;
    text-align: center;
}

.network {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.network a {
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

.network a:hover {
    transform: scale(1.4);
    transition: transform .2s ease-in-out;
}

@media screen and (max-width: 500px) {
    
    .network {
        justify-content: space-around;
    }

}

@keyframes floating {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    }
}
