@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    inset: 0;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Press Start 2P", sans-serif;
}

body {
    height: 100%;
    width: 100vw;
    background-image: url("../resource/background_body.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    max-height: max-content;
    min-height: 90vh;
    width: 100%;
    background-image: url("../resource/background_main.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 2.5em 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    position: fixed;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0%;
}

.btn {
    flex: 1;
    color: #fff;
    text-decoration: none;
    padding: 1.5em;
    text-align: center;
    transition: flex .5s ease-in-out;
    background-color: #41414148;
}

.btn:hover {
    flex: 2;
    transition: flex .5s ease-in-out;
}

.title {
    color: #fff;
    margin: 5px;
    font-size: 10vmin;
    transform: translateY(100px);
    animation: spawn ease-in-out 1s both;
}

#lang {
    width: 50vmin;
    transform: translateY(-100px);
    animation: spawn ease-in-out 1s both;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer *,
footer * * {
    font-size: 3vmin;
    color: #fff;
}

@keyframes spawn {
    to {
        transform: translateY(0);
    }
}
