/**
 * navbar.css (Antoine LANDRIEUX)
**/

nav {
    user-select: none;
    position: fixed;
    z-index: 99999;
    background-color: var(--background);
    border-bottom: 1px solid var(--black-text);
    display: flex;
    height: max-content;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

nav span {
    cursor: pointer;
    text-align: center;
    text-wrap: wrap;
    background-image: linear-gradient(#7e7e7e, var(--black-text));
    background-clip: text;
    color: transparent;
}

nav span,
nav ul {
    flex: 1;
}

nav ul.menu {
    width: 100%;
    display: flex;
    height: max-content;
    justify-content: space-between;
    flex-direction: row;
}

nav ul.menu li.btn {
    flex: 1;
    width: 100%;
    margin-top: 10px;
    width: max-content;
    list-style-type: none;
}

nav ul.menu li.btn .name {
    text-decoration: none;
    cursor: pointer;
    font-size: max(22px, 4vmin);
}

nav ul.menu li.btn .name::after {
    content: "";
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
    background-color: var(--black-text);
    transform: scale(0);
    display: block;
    transition: all .2s ease-in-out;
}

nav ul.menu li.btn .name:hover::after {
    transform: scale(0.75);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 500px) {
    nav ul.menu {
        display: none;
    }
}
